<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/background') %> 
  <%- include('./partials/header')  %>

<main>
    <div class="read">
        
        <div class="flex-centered">
            <aside>
                <menu role="menu" id="side-menu">
                    <ul>
                        <li class="side-menu-item">
                            <div class="side-menu-item-wrapper">
                                <div class="side-menu-icon">
                                    <svg class="svg-icon" viewBox="0 0 20 20">
                                        <path d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"></path>
                                    </svg>
                                </div>
                                <div class="side-menu-text">
                                    <a href="#">Favoritos</a>
                                </div>
                            </div>
                        </li>
                        <li class="side-menu-item">
                            <div class="side-menu-item-wrapper">
                                <div class="side-menu-icon">
                                    <svg class="svg-icon bi bi-bookmark-check" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                      </svg>
                                </div>
                                <div class="side-menu-text">
                                    <a href="#"> Marca-Página </a>
                                </div>
                            </div>
                        </li>
                        <li class="side-menu-item">
                            <div class="side-menu-item-wrapper">
                                <div class="side-menu-icon">
                                    <svg class="svg-icon bi bi-exclamation-octagon" viewBox="0 0 20 20">
                                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                      </svg>
                                </div>
                                <div class="side-menu-text">
                                    <a href="#">Reportar</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </menu>
            </aside>
        </div>
    </div>
</main>

<%- include('./partials/footer') %> 
<%- include('./partials/scripts') %> 
</body>
</html>